/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*--------------------------------------------------*/
.cover {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255);
}

#interactive-amsler-recording-chart {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

#info-and-input-container {
    padding-left: 2rem;
}

p.sneaky-info {
    color: #9282B6;
}

.invisibility-cloak {
    visibility: hidden;
}

.hidden {
    display: none;
}

#info-and-input-container button, input[type=button] {
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    padding: 7px 12px 8px 12px;
}

button.session-master, input[type=button] {
    background-color: #402F65;
}

button.session-master:hover, input[type=button]:hover {
    background-color: #9282B6;
}

button.session-master:disabled {
    background-color: #C3C3C3;
}

button.session-master:disabled:hover {
    background-color: #C3C3C3;
}

#yes, #no {
    margin-right: 3rem;
    margin-bottom: 4rem;
    width: 6rem;
    height: 4rem;
}

#yes {
    background-color: green;
}

#yes:hover {
    background-color: lightgreen;
}

#no {
    background-color: darkred;
}

#no:hover {
    background-color: indianred;
}

.invisible-cursor {
    cursor: none;
}

#record-container {
    background: #2E2652;
    color: white;
    padding: 1rem;
}

ul#pages {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul#pages li {
    padding: 1em;
}