@page
@model RecordModel
@{
    ViewData["Title"] = "Amsler Recording Chart";
}

<div id="form-container" class="cover">
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <input id="submit-name" type="button" value="Submit">
    </form>
</div>

<div id="interactive-amsler-recording-chart">
    <div id="grid-container">
        <canvas id="amsler-grid" width="620" height="620"></canvas>
        <p class="sneaky-info">Press F11 to activate or end full-screen mode.</p>
    </div>
    <div id="info-and-input-container">
        <div id="passive-session-container">
            <h4>Mapping of visual field</h4>
            <ul>
                <li>Wear the eyeglasses you normally wear when reading.</li>
                <li>Position the screen about 14 inches from your face or find a reasonable standard for you to consistently follow, concerning angle and distance.</li>
                <li>Cover one eye at a time with your hand.</li>
                <li>Stare at the dot in the center. Do not let your gaze drift from the center dot.</li>
                <li>Make sure that the screen is clear.</li>
            </ul>
            <button class="session-master" id="manual-session-catalyst">Run session</button>
            <button class="session-master" id="repetition-session-catalyst">Check previous coordinates</button>
        </div>
        <div id="repetition-session-container" class="hidden">
            <div id="active-repetition-session-container">
                <h4>Is the orange dot visible?</h4>
                <button id="yes">Yes</button>
                <button id="no">No</button>
            </div>
            <h6 id="improvement"></h6>
            <h6 id="regression"></h6>
            <button class="session-master">Quit session</button>
        </div>
        <div id="manual-session-container" class="hidden">
             <p>Use the mouse on the grid. Click where the dot becomes invisible or distorted.</p>
             <button class="session-master">Quit session</button>
        </div>
    </div>
</div>

<script type="module">
    import * as sessions from '/js/sessions.js';
    import * as repetitionSession from '/js/repetitionSession.js';

    document.getElementById('submit-name').addEventListener('click', sessions.submitName);

    document.getElementById('manual-session-catalyst').addEventListener('click', sessions.goManualSession);
    document.getElementById('repetition-session-catalyst').addEventListener('click', repetitionSession.goRepetitionSession);

    document.getElementById('yes').addEventListener('click', repetitionSession.visibilityIsAYes);
    document.getElementById('no').addEventListener('click', repetitionSession.visibilityIsANo);

    document.querySelector('#manual-session-container > button.session-master').addEventListener('click', sessions.quitSession);
    document.querySelector('#repetition-session-container > button.session-master').addEventListener('click', sessions.quitSession);
</script>
