@page
@model RecordModel
@{
    ViewData["Title"] = "Record";
}

<div id="record-container"></div>
<div id="grid-container">
    <canvas id="amsler-grid" width="600" height="600"></canvas>
</div>

<script type="module">
    import * as record from '/js/record.js';

    record.renderPage();
</script>