@page
@model RecordsModel
@{
    ViewData["Title"] = "Records";
}

<table id="records"></table>
<ul id="pages"></ul>

<script type="module">
    import * as records from '/js/records.js';

    records.renderRecords();
</script>

